<main class="loans">
  <section class="loans--container">
    <h1>Loan Management</h1>
    <table mat-table [dataSource]="(allLoans$  | async) || []" class="mat-elevation-z8">

      <ng-container matColumnDef="loanId">
        <th mat-header-cell *matHeaderCellDef>Loan ID</th>
        <td mat-cell *matCellDef="let element">
          {{ element.loanId }}
        </td>
      </ng-container>

      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">
          {{ element.amount }}
        </td>
      </ng-container>

      <ng-container matColumnDef="currentBalance">
        <th mat-header-cell *matHeaderCellDef>Current Balance</th>
        <td mat-cell *matCellDef="let element">
          {{ element.currentBalance }}
        </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ element.status }}</td>
      </ng-container>

      <ng-container matColumnDef="dateInsert">
        <th mat-header-cell *matHeaderCellDef>Date Inserted</th>
        <td mat-cell *matCellDef="let element">
          {{ element.dateInsert }}
        </td>
      </ng-container>

      <ng-container matColumnDef="dateUpdate">
        <th mat-header-cell *matHeaderCellDef>Date Updated</th>
        <td mat-cell *matCellDef="let element">
          {{ element.dateUpdate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="applicantId">
        <th mat-header-cell *matHeaderCellDef>Applicant ID</th>
        <td mat-cell *matCellDef="let element">{{ element.applicantId }}</td>
      </ng-container>

      <ng-container matColumnDef="applicantName">
        <th mat-header-cell *matHeaderCellDef>Applicant Name</th>
        <td mat-cell *matCellDef="let element">{{ element.applicantName }}</td>
      </ng-container> 

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
</main>